@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_HRLoginLayout.cshtml";
}
<div class="container">

   <div class="text-danger"><h5> <b>Sorry error occured in the system please</b></h5><h5><b>click on refresh button ..</b></h5> </div>
    <h2 class="text-danger">Thank You</h2>
    <a href="/Account/Login" class="btn btn-primary"> Refresh</a>
</div>

