<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings.HrContext" connectionString="Data Source=TFS-SERVER;Initial Catalog=HR;User ID=sa;Password=Admin.12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>