<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://enterprisehr-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://enterprisehr-001-site1.ctempurl.com:8172/msdeploy.axd?site=enterprisehr-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>enterprisehr-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\enterprisehr-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HrContext" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A29E9A_EnterpriseHR;User ID=DB_A29E9A_EnterpriseHR_admin;Password=Admin.12" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApp.Models.UserContext, WebApp" MigrationConfiguration="WebApp.Migrations.Configuration, WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UserContext" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A29E9A_EnterpriseHR;User ID=DB_A29E9A_EnterpriseHR_admin;Password=Admin.12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=TFS-SERVER;Initial Catalog=HR;User ID=sa;Password=Admin.12" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UserContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=TFS-SERVER;Initial Catalog=HR;User Id=sa;Password=Admin.12" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Db.HrContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Db.HrContext, Db" MigrationConfiguration="Db.Migrations.Configuration, Db" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Db.HrContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HrContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A29E9A_EnterpriseHR;User ID=DB_A29E9A_EnterpriseHR_admin;Password=Admin.12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A29E9A_EnterpriseHR;User ID=DB_A29E9A_EnterpriseHR_admin;Password=Admin.12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Db.HrContext" />
  </ItemGroup>
</Project>