
@using System.Web.Script.Serialization
@using WebApp.Extensions
<br>
@{
    var admin = User.IsInRole("Admin");
    var rtl = User.Identity.RTL();
    var grid = ViewData["GridName"];
    var count = ViewBag.count;
    Layout = null;
    int dataLevel = 0, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
}

<br><br><br>
<div id="pageTabs"></div>


<script>
    FormJs.DrawTabs("pageTabs");

    $('#tab_LookupList').load("@Url.Action("Lookupcode", "LookUpCode")?RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");

    //السنة المالية
    $("#t_LookupList").click(function () {
        $("#tab_LookupUserList").empty();
        $('#tab_LookupList').load("@Url.Action("Lookupcode", "LookUpCode")?RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });
    // فترات الإستحقاق
    $("#t_LookupUserList").click(function () {
        $("#tab_LookupList").empty();
        $('#tab_LookupUserList').load("@Url.Action("LookUpUsercode", "LookUpCode")?RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]");
    });
</script>










