
<style type="text/css">
    .myThumpImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        .myThumpImg:hover {
            opacity: 0.7;
        }

    .modal {
        position: absolute; /* Stay in place */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        height: 86%;
        margin: 0 auto;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: inherit;
        max-width: 499px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.9s;
        animation-name: zoom;
        animation-duration: 0.9s;
    }

    .close {
        position: absolute;
        top: 60px;
        right: 100px;
        color: #f1f1f1;
        font-size: 63px;
        font-weight: bolder;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0);
        }

        to {
            -webkit-transform: scale(1);
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }

    @@media print {
        body * {
            visibility: hidden;
        }

        #img01, #img01 * {
            visibility: visible;
            max-height:100% !important;
            max-width:100% !important;
        }

        @@page {
            size: A4 portrait;
            max-height:100% !important;
            max-width:100% !important;
        }

        #img01 {
            height: 100% !important;
            /*width : 100% !important;*/
            display:block;
        }
    }
</style>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

<script>
    var ThumpImage = function () {
        
        function CheckPic(data) {
        if (data.AttUrl == null)
            return "/Content/Photos/systemnoimage.jpg";
        else if (data.AttUrl == 'pdf')
            return "/Content/Free-file-icons/48px/pdf.png";
        else
            return 'data:image/jpg;base64,' + data.AttUrl;
    }

    function BindLoadImage(gridName, source, columnName) {
        if (columnName == undefined) columnName = "Id";
        var modal = document.getElementById('myModal');        
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        $("#" + gridName).on("click", ".myThumpImg", null, function () {
            modal.style.display = "block";
            var dataitem = $("#" + gridName).getKendoGrid().dataItem($(this).closest("tr"));
            console.log(dataitem);
            if (dataitem.AttUrl != null)
                $.get("@Url.Action("GetImage", "Pages")", { id: dataitem[columnName], source: source }, function (e) {modalImg.src = (e == false ? "/Content/Photos/systemnoimage.jpg" : 'data:image/jpg;base64,' + e);});
            else
                modalImg.src = "/Content/Photos/systemnoimage.jpg";

            captionText.innerHTML = this.alt;
        });
        document.addEventListener("keyup", function (e) {
            if (e.keyCode == 27) {
                modal.style.display = "none";
            }
        });
        modalImg.addEventListener("click", function (e) {
            e.stopPropagation();
        });
        modal.onclick = function () {
            modal.style.display = "none";
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    return {
        BindLoadImage: BindLoadImage,
        CheckPic: CheckPic
    }
}();


</script>