
@model WebApp.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Account/Hrlogin.cshtml";
    ViewBag.Title = "Forgot your password?";
    var compantId = User.Identity.GetDefaultCompany();
    //var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
}

<div class="login-form">
    <div class="login-right">
        <div class="sap_tabs">
            <div id="horizontalTab">
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                        <div class="login-top">
                            <h1>Please check your email to reset your password.</h1>
                            <div class="submit">
                                @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-submit" })
                            </div>
                            <div class="clear"> </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>




@section Lscripts{
    
    <script>
        $(function () {
            localStorage.setItem("Antiforgery", $("input[name='__RequestVerificationToken']").val());

            var userEmpId = Cookies.get("userEmpId");
            if (!userEmpId) {
                $(".login-left").hide();
                $(".login-right").addClass("login-right-no-user");
                $(".submit").addClass("submit-no-user");

            }
        });
    </script>
}


