@using WebApp.Models
@using WebApp.Extensions
@{
    Layout = null;
    var compantId = User.Identity.GetDefaultCompany();
    //var culture = User.Identity.GetCulture();
    var rtl = User.Identity.RTL();
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>HR Enterprise</title>
    <!--Custom Theme files-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <!-- <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script> -->
    <!-- Custom Theme files -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/Login/login.css" rel="stylesheet" type="text/css" media="all" />
    <!--js-->
    
    <!--//js-->
</head>

<body>
    <!-- main -->

    <div class="main">
        <div id="particles-js"></div>
        <div class="company">
            <img id="company-img-id" src="" />
        </div><!-- /.cont-img -->

        @RenderBody()
    </div>
    <!--//main -->
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    

    <script type="text/javascript" src="~/Content/js/Login/bgParticles.min.js"></script>
    <script type="text/javascript" src="~/Content/js/Login/bgScript.js"></script>
    <script src="~/assets/global/scripts/js.cookie.js"></script>
    @RenderSection("Lscripts", false)
    
    <script>
        //debugger;
        var userCompanyId = parseInt(Cookies.get("userCompanyId"));


        if (userCompanyId || userCompanyId === 0) {
            $.get("@Url.Action("GetImage", "Pages")", { id: userCompanyId, source: "CompanyLogo" }, function (res) {


                document.getElementById("company-img-id").src = (res ?  'data:image/jpg;base64,' + res : "../.././Content/img/HomeCompany2.png");
            });
        } else {
            document.getElementById("company-img-id").src = "../.././Content/img/HomeCompany2.png";
        }

    </script>
</body>

</html>
