
@using System.Web.Script.Serialization
@using WebApp.Extensions
<br>
@{
    var admin = User.IsInRole("Admin");
    var rtl = User.Identity.RTL();
    var grid = ViewData["GridName"];
    var count = ViewBag.count;
    Layout = null;
    int dataLevel = 0, read = 0;
    int.TryParse(Request.QueryString["DataLevel"], out dataLevel);
    int.TryParse(Request.QueryString["Read"], out read);
}

<div id="pageTabs"></div>
<script>
    FormJs.DrawTabs("pageTabs");

    $('#tab_Locations').load("@Url.Action("Index", "Location")?MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]" + "&isInternal=true");

    //مواقع الشركة
    $("#t_Locations").click(function () {
        $("#tab_OutLocations").empty();
        $('#tab_Locations').load("@Url.Action("Index", "Location")?MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]" + "&isInternal=true");
    });
    //مواقع العملاء
    $("#t_OutLocations").click(function () {
        $("#tab_Locations").empty();
        $('#tab_OutLocations').load("@Url.Action("Index", "Location")?MenuId=@Request.QueryString["MenuId"]&RoleId=@Request.QueryString["RoleId"]&Version=@Request.QueryString["Version"]&DataLevel=@Request.QueryString["DataLevel"]&Read=@Request.QueryString["Read"]" + "&isInternal=false");
    });
</script>










